{include="dashboard-menu"}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Atualizar Evento</h4>
                  <p class="card-category">Alterar o Evento.</p>
                </div>
                <div class="card-body">
                  <form class="form" action="/admin/events/{$event.event_id}/update" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group"> 
                                <label class="bmd-label-floating">Tipo Evento</label>      
                                <select type="text" class="form-control" id="event_type_id" name="event_type_id" required>
                                    {loop="$eventstype"}
                                        <option value="{$value.event_type_id}" {if="$event.event_type_id == $value.event_type_id"} selected {/if} > {$value.event_type_name} </option>
                                    {/loop}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group"> 
                                <label class="bmd-label-floating">Status Evento</label>         
                                <select class="form-control" id="status_type_id" name="status_type_id" required>
                                    {loop="$eventsstatus"}
                                        <option value="{$value.status_type_id}" {if="$event.status_type_id == $value.status_type_id"} selected {/if} > {$value.status_type_name} </option>
                                    {/loop}
                                </select>
                            </div>
                        </div>
    
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="bmd-label-floating">Nome do Evento</label>
                                <input type="text" class="form-control" id="event_name" name="event_name"
                                    value="{$event.event_name}" required> 
                            </div>
                        </div>
                        <div class="col-md-3">
                                <div class="form-group">
                                    <label class="bmd-label-static"> Data do Evento.</label>
                                    <input type="date" class="form-control" id="event_date" name="event_date" 
                                    value="{$event.event_date}" required>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                            <label>Descrição</label>
                                <div class="form-group">                        
                                    <label class="bmd-label-floating"> Informe a Descrição do evento.</label>
                                    <textarea class="form-control" rows="5" id="event_description" 
                                    name="event_description" >{$event.event_description}</textarea>
                                </div>
                            </div>
                        </div>  
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Alterar Evento</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
              <div class="row">
                <div class="col-md-10"></div>
                <div class="col-md-2">
                    <a class="nav-link justify-content-end" href="/admin/events">
                      <i class="material-icons" data-notify="icon">backspace</i> Voltar
                    </a>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>




