{include="dashboard-menu"}
        <div class="content main-content" >
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-12">
                      <div class="card ">
                          <div class="card-header card-header-primary">
                              <div class="row">
                              <div class="col-md-9">
                              <h4 class="card-title">Importar Tarefas para o Evento: <strong> {$event['event_name']} </strong></h4>
                              <p class="card-category">Importar tarefas modelo para um evento expecífico. pode também filtrar por seção.</p>
                              </div>
                              <div class="col-md-3">
                                <form id="form" name="form"  class="navbar-form"  action="/admin/events/{$event['event_id']}/eventtasks/import" method="get">
                                    <div class="form-group"> 
                                        <label class="bmd-label-floating text-white">Seção de Tarefas</label>      
                                            <select id="searchsection" name="searchsection" class="form-control text-white import_sel" onchange="this.form.submit()" >
                                            <option  value="0" {if="$searchsection == '0'"} selected {/if}  > Todos os eventos </option>
                                            {loop="$sessiontask"}
                                                <option class="" value="{$value.section_task_id}" {if="$searchsection == $value.section_task_id"} 
                                                selected {/if} > {$value.section_task_name} </option>
                                            {/loop}
                                        </select>
                                    </div>
                                </form>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                              <div class="col-md-6">
                                  <div class="card" >
                                      <div class="card-header  card-header-info card-header-tabs" >
                                        <div class="col-md-12">
                                            <h4 class="card-title ">Lista de Tarefas Modelo</h4>
                                            <p class="card-category">Tarefas modelo por seção</p>
                                        </div>                      
                                      </div>
                                      <div class="card-body">
                                          <div class="table-responsive">
                                            <table class="table table-hover table_task">
                                              <thead class=" text-primary">
                                                <th>#Ref:</th>
                                                <th>Nome</th>
                                                <th>Duração</th>
                                                <th>Pred.</th>
                                                <th>Suc.</th>
                                                <Th class="text-center" >Ações</Th>
                                              </thead>
                                              <tbody>
                                                {loop="$modeltasks"}
                                                <tr>
                                                  <td width="5%" >#{$value.modeltask_id}</td>
                                                  <td width="30%" data-toggle="tooltip" title="{$value.section_task_name}" >{$value.modeltask_name}</td>
                                                  <td width="5%">{$value.modeltask_duration} dia(s)</td>
                                                  <td width="5%">{$value.modeltask_predecessors}</td>
                                                  <td width="5%">{$value.modeltask_successors}</td>
                                                  <td width="10%" class="td-actions text-center">
                                                    <a  href="/admin/events/{$event['event_id']}/eventtasks/import/{$value.modeltask_id}" >
                                                      <button type="button" rel="tooltip" title="Importar Tarefa" class="btn btn-primary btn-link btn-sm">
                                                        <i class="material-icons">arrow_forward</i>
                                                      </button>
                                                    </a>
                                                  </td>
                                                </tr>
                                                {/loop}
                                              </tbody>
                                            </table>
                                        </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="col-md-6">
                                <div class="card" >
                                    <div class="card-header  card-header-warning card-header-tabs" >
                                      <div class="col-md-12">
                                          <h4 class="card-title">Lista de Tarefas Evento: <strong> {$event['event_name']} </strong></h4>
                                          <p class="card-category"> Tarefas de Evento por seção</p>
                                      </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                          <table class="table table-hover table_task">
                                            <thead class=" text-primary">
                                              <th hidden>Evento</th>
                                              <Th class="text-center" >Ações</Th>
                                              <th>#Ref:</th>
                                              <th>#</th>
                                              <th>Nome</th>
                                              <th>Duração</th>
                                              <th>Inicio</th>
                                              <th>Fim</th>
                                            </thead>
                                            <tbody>
                                              {loop="$eventtasks"}
                                              <tr>
                                              <td width="5%" class="td-actions text-center">
                                                  <a  href="/admin/events/{$event['event_id']}/eventtasks/{$value.task_id}/import/delete" >
                                                    <button type="button" rel="tooltip" title="Retirar Tarefa" class="btn btn-primary btn-link btn-sm">
                                                      <i class="material-icons">close</i>
                                                    </button>
                                                  </a>
                                                </td>
                                                <td hidden>{$value.event_id}</td>
                                                <td width="5%" >#{$value.modeltask_id}</td>
                                                <td width="5%" >#{$value.task_id}</td>
                                                <td width="50%" data-toggle="tooltip" title="{$value.section_task_name}" >{$value.task_name}</td>
                                                <td width="5%">{$value.task_duration} dia(s)</td>
                                                <td width="5%">{function="formatDate($value.task_start)"}</td>
                                                <td width="5%">{function="formatDate($value.task_finish)"}</td>
                                              </tr>
                                              {/loop}
                                            </tbody>
                                          </table>
                                      </div>
                                    </div>
                                </div>
                              </div>
                          </div> 
                          <div class="row">
                            <div class="col-md-6">
                              <nav aria-label="...">
                                <ul class="pagination">
                                  {loop="$pages_model"}
                                  <li class="page-item text-primary {$value.active} "><a class="page-link" href="{$value.href}">{$value.text}</a>
                                  </li>
                                  {/loop}
                                </ul>
                              </nav>
                            </div>
                            <div class="col-md-4">
                                <nav aria-label="...">
                                  <ul class="pagination">
                                    {loop="$pages_event"}
                                    <li class="page-item text-primary {$value.active} "><a class="page-link" href="{$value.href}">{$value.text}</a>
                                    </li>
                                    {/loop}
                                  </ul>
                                </nav>
                            </div>
                          </div>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <a class="nav-link text-right" href="/admin/events/{$event['event_id']}/eventtasks">
                      <i class="material-icons" data-notify="icon">backspace</i> Voltar
                    </a>
                  </div>
              </div>
          </div>
      </div>

<script>
    document.getElementById('searchsection').addEventListener('change', function() {
        this.form.submit();
    });
</script>
   