{include="dashboard-menu"}
        <div class="content main-content" >
          <div class="container-fluid">
            <a class="nav-link justify-content-end" href="/admin/events/create">
                <i class="material-icons">event</i>
                <p>Criar Evento</p>
            </a>        
            <div class="row">
              <div class="col-md-12">       
                <div class="card" >
                  <div class="card-header  card-header-primary card-header-tabs" >
                    <h4 class="card-title ">Lista de Eventos</h4>
                    <p class="card-category"> Todos os eventos da empresa.</p>
                  </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover table_task">
                      <thead class=" text-primary">
                        <th>#</th>
                        <th>Tipo</th>                        
                        <th>Nome</th>
                        <th>Data Inicio</th>                        
                        <th>Data Evento</th>                        
                        <th>Data Término</th>
                        <th>Situação</th>
                        <Th class="text-center" >Ações</Th>
                      </thead>
                      <tbody>
                        {loop="$events"}
                        <tr>
                          <td>#{$value.event_id}</td>
                          <td>{$value.event_type_name}</td>
                          <td>{$value.event_name}</td>
                          <td>{function="formatDate($value.event_start)"}</td>
                          <td>{function="formatDate($value.event_date)"}</td>
                          <td>{function="formatDate($value.event_finish)"}</td>
                          <td>{$value.status_type_name}</td>
                          <td class="td-actions text-center">
                              <a  href="/admin/events/{$value.event_id}/eventtasks" >
                                <button type="button"  class="btn btn-primary btn-link btn-sm">
                                  <i class="material-icons">assignment</i> Tarefas
                                </button>
                              </a>
                              <a  href="/admin/events/{$value.event_id}/update" > 
                              <button type="button"  class="btn btn-primary btn-link btn-sm"> 
                                <i class="material-icons">edit</i> Editar
                              </button>
                            </a>
                            <a  href="/admin/events/{$value.event_id}/delete" onclick="return confirm('Deseja realmente excluir o Evento?')" >
                              <button type="button"  class="btn btn-danger btn-link btn-sm"> 
                                <i class="material-icons">close</i> Excluir
                              </button>
                            </a>
                          </td>
                        </tr>
                        {/loop}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div> 
          <div class="row">
            <div class="col-md-10">
              <nav aria-label="...">
                <ul class="pagination">
                  {loop="$pages"}
                  <li class="page-item text-primary {$value.active} "><a class="page-link" href="{$value.href}">{$value.text}</a>
                  </li>
                  {/loop}
                </ul>
              </nav>
            </div>
            <div class="col-md-2">
              <a class="nav-link text-right" href="/admin">
                <i class="material-icons" data-notify="icon">backspace</i> Voltar
              </a>
            </div>
          </div>
        </div>
      </div>

