{include="dashboard-menu"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Usuário</h4>
                        <p class="card-category">Alterar a Senha</p>
                    </div>
                    <div class="card-body">
                        <form role="form" action="/admin/users/{$user.user_id}/password" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-floating">Senha Atual</label>
                                        <input type="password" class="form-control" id="active_password" name="active_password"  required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-floating">Nova Senha</label>
                                        <input type="password" class="form-control" id="new_password" name="new_password"  required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="label-floating">Confirme a nova Senha</label>
                                        <input type="password" class="form-control" id="new_password_confirm" name="new_password_confirm" required>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">Salvar</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a >
                            <img class="img-responsive" id="image-preview-avatar"  src="{$user.person_urlphoto}" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray" id="person-jobrole-avatar">{$user.person_jobrole}</h6>
                        <h4 class="card-title" id="person-fullname-avatar" >{$user.person_fullname}</h4>
                        <p class="card-description" id="person-about-avatar">
                            {$user.person_about}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
