{include="dashboard-menu"}
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-8">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Incluir Endereço</h4>
                  <p class="card-category">Complete o endereço do Usuário.</p>
                </div>
                <div class="card-body">
                  <form role="form" action="/admin/address/create" method="post" enctype="multipart/form-data">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label class="bmd-label-floating">Nome Usuário</label>
                          <input type="text" class="form-control" id="person_name" name="person_name" value="{$user.person_name}" disabled>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9">
                            <div class="form-group">
                                <label class="bmd-label-floating">Endereço</label>
                                <input type="text" class="form-control" id="street_address" name="street_address" required>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="bmd-label-floating">Número</label>
                                <input type="text" class="form-control" id="street_number" name="street_number" required>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Complemento</label>
                                    <input type="text" class="form-control" id="strect_complement" name="strect_complement">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="bmd-label-floating">Bairro</label>
                                    <input type="text" class="form-control" id="district_name" name="district_name" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Cidade</label>
                                <input type="text" class="form-control" id="city_name" name="city_name" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">País</label>
                                <input type="text" class="form-control" id="country_name" name="country_name" required>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="bmd-label-floating">Cep</label>
                                <input type="text" class="form-control" id="zipcode_number" name="zipcode_number" required>
                            </div>
                        </div>
                    </div>
                    <button type="submit"  class="btn btn-primary pull-right">Criar Usuário</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card card-profile">
                <div class="card-avatar">
                  <a href="#pablo">
                    <img class="img" src="/assets/site/img/faces/avatar_bruna.jpg" />
                  </a>
                </div>
                <div class="card-body">
                  <h6 class="card-category text-gray">Publicitária</h6>
                  <h4 class="card-title">Bruna Duque</h4>
                  <p class="card-description">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptate temporibus consequatur sapiente! Consequatur quod maiores dolore optio ex labore, cum quam? Quasi, sed! Laudantium, culpa! Ipsum aspernatur sapiente animi tempora. ...
                  </p>
                  <a href="#pablo" class="btn btn-primary btn-round">seguir</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


