{include="dashboard-menu"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Criar Usuário</h4>
                        <p class="card-category">Complete Perfil</p>
                    </div>
                    <div class="card-body">
                        <form class="form" action="/admin/users/create" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                         <select class="form-control type_login" id="user_type_id" name="user_type_id" required>
                                            <option value="0"  > Visitante </option>
                                            <option value="1"  > Administrador </option>
                                            <option value="2"  > Clientes </option>
                                            <option value="3"  > Parceiros </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nome Login é igual ao Email</label>
                                        <input type="text" class="form-control" id="login-name" name="login_name" disabled >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Empresa</label>
                                        <input type="text" class="form-control" id="company_name" name="company_name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Cargo</label>
                                        <input type="text" class="form-control" id="person-jobrole"  oninput="DuplicateJobrole()"
                                            name="person_jobrole" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Primeiro Nome</label>
                                        <input type="text" class="form-control" id="person-firstname" oninput="DuplicateFullname()"
                                            name="person_firstname" required>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Último Nome</label>
                                        <input type="text" class="form-control" id="person-lastname" oninput="DuplicateFullname()"
                                            name="person_lastname" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Email</label>
                                        <input type="email" class="form-control" id="person-email" name="person_email" oninput="DuplicateEmail()" 
                                             required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Celular</label>
                                        <input type="text"  class="form-control" id="person_phone" name="person_phone">
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Whatsapp</label>
                                        <input type="text"  class="form-control" id="person_whatsapp"
                                            name="person_whatsapp" >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Facebook</label>
                                        <input type="text" class="form-control" id="person_facebook"
                                            name="person_facebook" >
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Instagram</label>
                                        <input type="text" class="form-control" id="person_instagram"
                                            name="person_instagram">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Observação</label>
                                        <div class="form-group">
                                            <label class="bmd-bmd-label-floating"> Coloque alguma informação sobre
                                                você.</label>
                                            <textarea class="form-control" rows="5" id="person-about" oninput="DuplicateAbout()"
                                                name="person_about" ></textarea>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        <button type="submit" class="btn btn-primary pull-right">Criar Usuário</button>
                        <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a >
                            <img class="img-responsive" id="image-preview-avatar"  src="/assets/site/img/faces/avatar_0.jpg" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray" id="person-jobrole-avatar"></h6>
                        <h4 class="card-title" id="person-fullname-avatar" ></h4>
                        <p class="card-description" id="person-about-avatar"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    
          
    document.querySelector('#file').addEventListener('change', function(){
    
    var file = new FileReader();
    
        file.onload = function() {
            
            document.querySelector('#image-preview').src = file.result;
            document.querySelector('#image-preview-avatar').src = file.result;
        
        }
    
    file.readAsDataURL(this.files[0]);
    
    });

    function DuplicateEmail() 
    {
        var x = document.getElementById("person-email").value;
        document.getElementById("login-name").innerHTML = x;
    }
    function DuplicateJobrole() 
    {
        var x = document.getElementById("person-jobrole").value;
        document.getElementById("person-jobrole-avatar").innerHTML = x;
    }
    function DuplicateFullname() 
    {
        var x = document.getElementById("person-firstname").value;
        var y = document.getElementById("person-lastname").value;
        document.getElementById("person-fullname-avatar").innerHTML = x + ' ' + y;
    }
    function DuplicateAbout() 
    {
        var x = document.getElementById("person-about").value;
        document.getElementById("person-about-avatar").innerHTML = x;
    }
        

</script>