{include="dashboard-menu"}
        <div class="content" >
          <div class="container-fluid">
              <div class="row">     
              <div class="col-md-12">
              <div class="card" >
                  <!-- <a class="nav-link justify-content-end" href="/admin/users/create">
                    <i class="material-icons">face</i>
                    <p>Criar Usuário</p>
                  </a> -->
                <div class="card-header  card-header-primary card-header-tabs" >
                  <h4 class="card-title ">Lista de Usuários</h4>
                  <p class="card-category"> Visitantes, Clientes, Parceiros e Administradores</p>
                </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover">
                      <thead class=" text-primary">
                        <th>ID</th>
                        <th>Nome</th>                        
                        <th>Login</th>
                        <th>Email</th>
                        <th>Telefone</th>
                        <th>Tipo</th>
                      </thead>
                      <tbody>
                        {loop="$users"}
                        <tr>
                          <td>{$value.user_id}</td>
                          <td>{$value.person_fullname}</td>
                          <td>{$value.login_name}</td>
                          <td>{$value.person_email}</td>
                          <td>{$value.person_phone}</td>
                          <td>{$value.user_type_name}</td>
                          <td class="td-actions text-right">
                            <a  href="/admin/user/{$value.user_id}/address/create" >
                              <button type="button" rel="tooltip" title="Endereço" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">my_location</i>
                              </button>
                            </a>
                            <a  href="/admin/users/{$value.user_id}" >
                              <button type="button" rel="tooltip" title="Atualizar Usuário" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">edit</i>
                              </button>
                            </a>
                            <a  href="/admin/users/{$value.user_id}/password" >
                              <button type="button" rel="tooltip" title="Alterar password" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">lock</i>
                              </button>
                            </a>
                            <a  href="/admin/users/{$value.user_id}/delete" onclick="return confirm('Deseja realmente excluir este registro?')" >
                              <button type="button" rel="tooltip" title="Excluir" class="btn btn-danger btn-link btn-sm">
                                <i class="material-icons">close</i>
                              </button>
                            </a>
                          </td>
                        </tr>
                        {/loop}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div> 
                <nav aria-label="...">
                    <ul class="pagination" >
                        {loop="$pages"}
                        <li class="page-item text-primary {$value.active} " ><a class="page-link" href="{$value.href}">{$value.text}</a></li>
                        {/loop}
                    </ul>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>

