
/* altura do header */
.index-page .page-header {
    height: 70vh;
}

/* altura do header do login*/
.index-page .page-header {
    height: 90vh;
}

/* Texto da pagina Banner */
.index-page .brand {
    color: #fff;
    text-align: left;
  }

  
.navbar.navbar-transparent {

    color: #fff;
  }


  .navbar {
    color: #000;
  }


