

/* altura do header */
.index-page .page-header {
    height: 70vh;
}

/* altura do header do login*/
.index-page .page-header {
    height: 90vh;
}

/* Texto da pagina Banner */
.index-page .brand {
    color: #fff;
    text-align: left;
  }

.card-login .form {
    min-height: 390px;
    padding: 0px 25px 0px 10px;
}

.card-forgot .form {
  min-height: 300px;
}
.card-forgot .form p {
  font-size: 15px;
  margin: 30px 0 10px;
}

.card-forgot-sent .form p {
  font-size: 16px;
  margin: 18px 0 10px;
}

.card-forgot-sent .form {
  padding: 0px 0px 0px 7px;
}

.navbar.navbar-transparent {

    color: #fff;
  }


.navbar {
    color: #000;
}


 .info {
  padding: 0px 0 0px;
}



.card-register .row {
margin-right: 11%;
margin-left: 0%;
width: 100%;
}