<div class="page-header" id="page-header"  data-parallax="true" style="background-image: url('/assets/site/img/banner_advice_complete.png');">
  <div class="container">
    {include="notification"}
  </div>
</div>
<div class="main main-raised">
  <div class="container">
    <div class="row">
      <div class="col-md-12 ml-auto mr-auto">
        <h3 class="title">Assessoria Completa</h3>
        <h5 class="description text-center text-secondary">Nossa <strong>Assessoria Completa</strong> é um serviço
          desenvolvido
          <strong>desde o início dos preparativos.</strong> Após a primeira reunião com os noivos, elaboramos um
          <strong>briefing</strong> para atendermos à todas necessidades, <strong>organizamos os custos</strong>,
          definimos um <strong>cronograma</strong>, indicamos os <strong>fornecedores</strong> (auxiliando em todas as
          etapas: visitação, fechamento de contrato e, também, assumindo a comunicação com os mesmos) e <strong>montamos
            a festa</strong>, garantindo que tudo saia perfeito no grande dia.
          Para que o evento ocorra com segurança e profissionalismo, contaremos com uma equipe de <strong> 4
            pessoas</strong>, desde o primeiro horário até o final, para acompanhamento da montagem, festa e
          desmontagem.
        </h5>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-6 ml-auto mr-auto">
        <div class="profile-tabs">
          <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#preparativos" role="tab" data-toggle="tab">
                <i class="material-icons">camera</i> Preparativos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#fornecedores" role="tab" data-toggle="tab">
                <i class="material-icons">palette</i> Fornecedores
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#organizacao" role="tab" data-toggle="tab">
                <i class="material-icons">favorite</i> Organização
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tab-content tab-space">
      <div class="tab-pane active text-center gallery" id="preparativos">
        <div class="row mb-5">
          <div class="col-md-6 ml-auto">
            <img src="/assets/site/img/preparativos.png" alt="Thumbnail Image" class="img-raised  img-fluid">
          </div>
          <div class="col-md-6 ml-auto">
            <img src="/assets/site/img/planejamento.png" alt="Thumbnail Image" class="img-raised  img-fluid">
          </div>
        </div>
          <div class="row mb-5">
            <div class="col-md-12 ml-auto">
              <h4>Lorem ipsum dolor sit amet consectetur zzzz zzzzz zzzzzz elit. Quas voluptate, perferendis dolorum,
                provident
                suscipit eligendi iste eum exercitationem omnis totam, laboriosam eaque ullam fuga fugit. Officia alias
                qui
                provident sint.</h4>
            </div>
          </div>
        </div>
        <div class="tab-pane text-center gallery" id="fornecedores">
          <div class="row">
            <div class="row mb-5">
              <div class="col-md-6 ml-auto">
                <img src="/assets/site/img/fornecedores_25.png" alt="Thumbnail Image" class="img-raised  img-fluid">
              </div>
              <div class="col-md-6 ml-auto">
                <img src="/assets/site/img/fornecedores_err.png" alt="Thumbnail Image" class="img-raised  img-fluid">
              </div>
              </div>  
              <div class="row mb-5">
                <div class="col-md-12 ml-auto">
                  <h4>Lorem ipsum dolor sit amet consectetur yyyyy yyyyyyy y yyyyy elit. Quas voluptate, perferendis
                    dolorum,
                    provident
                    suscipit eligendi iste eum exercitationem omnis totam, laboriosam eaque ullam fuga fugit. Officia
                    alias
                    qui
                    provident sint.</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane text-center gallery" id="organizacao">
            <div class="row">
              <div class="row mb-5 ">
                <div class="col-md-6 ml-auto">
                  <img src="/assets/site/img/planejamento.png" alt="Thumbnail Image" class="img-raised  img-fluid">
                </div>
                <div class="col-md-6  ml-auto">
                  <img src="/assets/site/img/casamento_unico.png" alt="Thumbnail Image" class="img-raised  img-fluid">
                </div>
                </div>  
                <div class="row mb-5">
                  <div class="col-md-12 ml-auto">
                    <h4>Lorem ipsum dolor sit amet consectetur xxxxxxxxxxxx xxxxxxxxxx. Quas voluptate, perferendis
                      dolorum,
                      provident
                      suscipit eligendi iste eum exercitationem omnis totam, laboriosam eaque ullam fuga fugit. Officia
                      alias
                      qui
                      provident sint.</h4>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>