<div class="page-header" id="page-header" style="background-image: url('/assets/site/img/banner-inicial-4.png'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 ml-auto mr-auto">
          <div class="card card-forgot">
            <form class="form" method="post" action="/forgot/reset">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Redefinir a senha</h4>

                <div class="logo-image">
                  <img src="/assets/site/img/logo-01-45x45.png"  class="img-raised rounded-circle img-fluid align-top">
                </div>
              </div>
              <p class="description text-center"><strong>Olá {$name}, digite uma nova senha</strong></p>
               <div class="card-body">
                    {include="notification"} 
                <input type="hidden" name="code" value="{$code}">
                <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                        </div>
                    <input type="password" class="form-control" placeholder="Nova Senha..." id="password" name="password" required>
                </div>
              </div>
              <div class="footer text-center">
                <button type="submit" class="btn btn-primary justify-content-center">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>
