<div class="page-header" style="background-image: url('/assets/site/img/banner-inicial-4.png'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 ml-auto mr-auto">
          <div class="card card-forgot">
            <form class="form" method="post" action="/forgot">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Redefinir a senha</h4>

                <div class="logo-image">
                  <img src="/assets/site/img/logo-01-45x45.png"  class="img-raised rounded-circle img-fluid align-top">
                </div>
              </div>
              <p class="description text-center"><strong>Digite seu login (Email de login) para redefinir a senha.</strong></p>
               <div class="card-body">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">person</i>
                      <i class="material-icons">email</i>
                    </span>
                  </div>
                  <input type="email" class="form-control" placeholder="Email do login..." id="login_name" name="login_name" required>
                </div>
              </div>
              <div class="footer text-center">
                <button type="submit" class="btn btn-primary justify-content-center">Enviar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>


