<div class="page-header" style="background-image: url('/assets/site/img/banner-inicial-4.png'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 ml-auto mr-auto">
          <div class="card card-login">
            <form class="form" method="post" action="/login">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Login</h4>

                <div class="logo-image">
                  <img src="/assets/site/img/logo-01-45x45.png"  class="img-raised rounded-circle img-fluid align-top">
                </div>

<!--                 <div class="social-line">
                  <a href="#pablo" class="btn btn-just-icon btn-link">
                    <i class="fa fa-facebook-square"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#pablo" class="btn btn-just-icon btn-link">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div>
 -->          
              </div>
              <p class="description text-center">Clientes</p>
               <div class="card-body">
                  {include="notification"} 
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">face</i>
                    </span>
                  </div>
                  <input type="email" class="form-control" placeholder="Email..." id="login_name" name="login_name" autofocus required>
                </div>
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text">
                      <i class="material-icons">lock_outline</i>
                    </span>
                  </div>
                  <input type="password" class="form-control" placeholder="Senha..." id="user_password" name="user_password" required>
                </div>
              </div>
              <div class="footer text-center">
                <button type="submit" class="btn btn-primary justify-content-center">Login</button>
                <a class="nav-link text-right text-capitalize" href="/forgot">
                  <i class="material-icons">face</i>
                  Esqueci minha senha
                </a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</div>