.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #9c27b0;
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(156, 39, 176, 0.4);
    border-radius:3px;
  }

  .page-link {
    color: #9c27b0;
  }
  
  .page-link:hover {
    color: #2f0836;
    background-color: #e9ecef;
    border-color: #9c27b0;
  }

  .page-item.active .page-link {
    color: #ffffff;
    background-color: #9c27b0;
    border-color: #9c27b0;
  }

  .alert {
    inline-size: 100%;
  }

  .photo-avatar {
    max-width: 400px;
    max-height: 400px;
}
  

.main-panel>.content {
  margin-top: 40px;
  padding: 30px 15px;
  min-height: calc(100vh - 123px);
}

.table.table_task>thead>tr>th, 
.table.table_task>tbody>tr>th, 
.table.table_task>tfoot>tr>th, 
.table.table_task>thead>tr>td, 
.table.table_task>tbody>tr>td, 
.table.table_task>tfoot>tr>td {
  padding: 0px 7px;
  vertical-align: middle;
  border-color: #ddd;
}

/* ainda falta implementar  na task sem referecia no moldeltask*/
.task_manual {
  background: #f1f1f1;
  color: #000
}
/*  select dentro do card no import de tarefas modelo  */
select#searchsection.form-control.text-white.import_sel:not([size]):not([multiple]) {
  height: calc(2.4375rem + 2px);
  background-color: #8e24aa
}
