<div class="page-header" style="background-image: url('/assets/site/img/banner-01.jpg'); background-size: cover; background-position: top center;">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6 ml-auto mr-auto">
          <div class="card card-forgot">
            <form class="form" method="get" action="/login">
              <div class="card-header card-header-primary text-center">
                <h4 class="card-title">Recuperar a senha</h4>

                <div class="logo-image">
                  <img src="/assets/site/img/logo-01-45x45.png"  class="img-raised rounded-circle img-fluid align-top">
                </div>      
              </div>
              <p class="description text-center">Esqueceu a senha?</p>
               <div class="card-body">
                  {include="notification"} 
                </div> 
                <div class="footer text-center">
                    <button type="submit" class="btn btn-primary justify-content-center">Login</button>
                  </div>                 
            </form>
          </div>
        </div>
      </div>
    </div>
</div>

