<div class="page-header header-filter clear-filter purple-filter" data-parallax="true" style="background-image: url('assets/site/img/banner-01.jpg');">
  <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand">
            <h1>BeBride</h1>
            <h3>Venha conversar com a gente.</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main main-raised">
    <div class="container">
      <div class="section text-center">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="title">Nós cuidamos de tudo pra você</h2>
            <h4 class="description">Cada dia da organização do seu casamento deve <i>ser celebrados</i>.</h4>
          </div>
        </div>
        <div class="features">
          <div class="row">
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-info">
                  <i class="material-icons">today</i>
                </div>
                <h4 class="info-title">Mini Wedding</h4>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos ipsum cumque quod repellat magnam consequuntur dicta tenetur iusto temporibus quam perspiciatis laudantium voluptatum in, tempore, corrupti amet, tempora doloremque error!</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-success">
                  <i class="material-icons">calendar_today</i>
                </div>
                <h4 class="info-title">Assessoria do dia</h4>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique temporibus quidem, officiis aliquam ea, officia enim eligendi excepturi pariatur nobis libero. Vitae iusto voluptates eos maiores consequuntur veniam possimus incidunt.</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="info">
                <div class="icon icon-danger">
                  <i class="material-icons">select_all</i>
                </div>
                <h4 class="info-title">Assessoria Completa</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam dolorum iure, saepe voluptatem maxime quod voluptates earum! Quasi reprehenderit cumque exercitationem error quas reiciendis fuga ad sunt modi, atque ducimus!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section text-center">
        <h2 class="title">Aqui está nosso time</h2>
        <div class="team">
          <div class="row">
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="/assets/site/img/faces/avatar_bruna.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">Bruna Duque
                    <br>
                    <small class="card-description text-muted">Publicitária</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eveniet aliquid eligendi corporis illo facere hic, eius, fugiat quas, corrupti voluptate deleniti laborum natus eum suscipit eos ut dolorum quidem quod?
                      <a href="#">links</a> </p>
                  </div>
                  <div class="card-footer justify-content-center">
                    <a href="#" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                    <a href="#" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="/assets/site/img/faces/avatar_xxxx.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">xxxx xxxxx
                    <br>
                    <small class="card-description text-muted">Assessora</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, iste facilis? Dicta vero fugiat quo! Reiciendis aspernatur obcaecati atque sequi ullam, beatae dolorum non corporis aliquam illo fugit sunt voluptatum!
                      <a href="#">links</a> Abaixo.</p>
                  </div>
                  <div class="card-footer justify-content-center">
                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-linkedin"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="team-player">
                <div class="card card-plain">
                  <div class="col-md-6 ml-auto mr-auto">
                    <img src="/assets/site/img/faces/avatar_yyyy.jpg" alt="Thumbnail Image" class="img-raised rounded-circle img-fluid">
                  </div>
                  <h4 class="card-title">yyyy
                    <br>
                    <small class="card-description text-muted">Financeiro</small>
                  </h4>
                  <div class="card-body">
                    <p class="card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos velit eum at deleniti amet! Consequuntur eius sint labore sunt. Repudiandae mollitia libero dolorum sint, corporis beatae id obcaecati eveniet optio.
                      <a href="#">links</a> Abaixo.</p>
                  </div>
                  <div class="card-footer justify-content-center">
                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-twitter"></i></a>
                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-instagram"></i></a>
                    <a href="#pablo" class="btn btn-link btn-just-icon"><i class="fa fa-facebook-square"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="section section-contacts">
        <div class="row">
          <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center title">Dúvidas ou Sugestões</h2>
            <h4 class="text-center description">Escreva algumas linhas sobre Dúvidas ou Sugestões e entre em contato. Nós responderemos a você em algumas horas.</h4>
            <form class="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Seu Nome</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label class="bmd-label-floating">Seu E-mail</label>
                    <input type="email" class="form-control">
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleMessage" class="bmd-label-floating">Sua mensagem</label>
                <textarea type="email" class="form-control" rows="4" id="exampleMessage"></textarea>
              </div>
              <div class="row">
                <div class="col-md-4 ml-auto mr-auto text-center">
                  <button class="btn btn-primary btn-raised">
                    Enviar mensagem
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>