

/* altura do header */
.index-page .page-header {
    height: 70vh;
}

/* altura do header do login*/
.index-page .page-header {
    height: 90vh;
}

/* Texto da pagina Banner */
.index-page .brand {
    color: #fff;
    text-align: left;
  }

.card-login .form {
    min-height: 390px;
    padding: 0px 25px 0px 10px;
}

.card-forgot .form {
  min-height: 300px;
}
.card-forgot .form p {
  font-size: 15px;
  margin: 30px 0 10px;
}

.card-forgot-sent .form p {
  font-size: 16px;
  margin: 18px 0 10px;
}

.card-forgot-sent .form {
  padding: 0px 0px 0px 7px;
}

.navbar.navbar-transparent {

    color: #fff;
  }


.navbar {
    color: #000;
}


 .info {
  padding: 0px 0 0px;
}



.card-register .row {
margin-right: 11%;
margin-left: 0%;
width: 100%;
}

.features {
  margin-top: 15px;
}

.navbar .navbar-brand  {
  padding: 0;
}
.navbar-brand .logo-image {
  padding: 0;
  margin-top: -8px;
}

.carousel-showsixmoveone {.carousel-showsixmoveone
  {
    .carousel-control
    { 
      width: 4%;
      background-image:none;
  
      &.left 
      {
        margin-left:15px;
      }
  
      &.right 
      {
        margin-right:15px;
      }
    }
  
    .cloneditem-1, 
    .cloneditem-2, 
    .cloneditem-3,
    .cloneditem-4, 
    .cloneditem-5
    {
      display: none;
    }
  
    .carousel-inner
    {
      @media all and (min-width: 768px)
      {
        @media (transform-3d), (-webkit-transform-3d)
        {
          > .item.active.right,
          > .item.next
          { 
            transform: translate3d(33.333%, 0, 0);  
            left: 0;
          }
  
          > .item.active.left,
          > .item.prev
          { 
            transform: translate3d(-33.333%, 0, 0);
            left: 0;
          }
  
          > .item.left,
          > .item.prev.right,
          > .item.active
          {
            transform: translate3d(0, 0, 0);
            left: 0;
          }    
        } 
  
        > .active.left,
        > .prev
        {
          left: -33.333%;
        }
  
        > .active.right,
        > .next
        {
          left:  33.333%;
        }
  
        > .left,
        > .prev.right,
        > .active
        {
          left: 0;
        }
  
        .cloneditem-1,
        .cloneditem-2
        {
          display: block;
        }
      }
  
      @media all and (min-width: 992px)
      {    
        @media (transform-3d), (-webkit-transform-3d)
        {
          > .item.active.right,
          > .item.next
          { 
            transform: translate3d(16.666%, 0, 0);  
            left: 0;
          }    
  
          > .item.active.left,
          > .item.prev
          { 
            transform: translate3d(-16.666%, 0, 0);
            left: 0;
          }
  
          > .item.left,
          > .item.prev.right,
          > .item.active
          {
            transform: translate3d(0, 0, 0);
            left: 0;
          }
        }
  
        > .active.left,
        > .prev
        {
          left: -16.666%;
        }
  
        > .active.right,
        > .next
        {
          left:  16.666%;
        }
  
        > .left,
        > .prev.right,
        > .active
        {
          left: 0;
        }
  
        .cloneditem-3,
        .cloneditem-4, 
        .cloneditem-5
        {
          display: block;
        }
      }    
    }
  }
  
  
  // demo setup only, not needed for carousel
  .container
  {
    margin-bottom: 50px;
  }
  body
  {
    color: #E54A41;
  }
  p
  {
    font-family: 'Open Sans', sans-serif;
    color: #333;
    margin-bottom: 2em;
  }
  h2
  {
    margin: 2em 0 1em;
  }
  
  .logo
  {
    margin: 20px auto;
    height: 100px;  
    
    @media only screen and (min-width : 768px) {  
      margin: 28px;
      float: left;
    }
  }
  
  .title
  {
    padding: 28px;
    display: table-cell;
    position: relative;
    vertical-align: middle;
    text-align: center;
  }