{include="dashboard-menu"}
        <div class="content main-content" >
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-3"></div>
                  <div class="col-md-2">
                      <a class="nav-link justify-content-end" href="/admin/events/{$event['event_id']}/eventtasks/create">
                          <i class="material-icons">assignment</i>
                          <p>Criar Tarefa</p>
                      </a>        
                  </div>
                  <div class="col-md-2">
                    <a class="nav-link justify-content-end" href="/admin/events/{$event['event_id']}/eventtasks/import">
                        <i class="material-icons">assignment</i>
                        <p>Importar Tarefas Modelo</p>
                    </a>        
                  </div>
                  <div class="col-md-2">
                    <a class="nav-link justify-content-end" href="/admin/events/{$event['event_id']}/eventtasks/processdate">
                        <i class="material-icons">date_range</i>
                        <p>Processar Datas</p>
                    </a>        
                  </div>
                  <div class="col-md-3">
                    <form id="form" name="form"  class="navbar-form"  action="/admin/events/{$event['event_id']}/eventtasks" method="get">
                        <div class="form-group"> 
                            <label class="bmd-label-floating text-primary">Seção de Tarefas</label>      
                                <select id="searchsection" name="searchsection" class="form-control" onchange="this.form.submit()" >
                                <option  value="0" {if="$searchsection == '0'"} selected {/if}  > Todos os eventos </option>
                                {loop="$sessiontask"}
                                    <option  value="{$value.section_task_id}" {if="$searchsection == $value.section_task_id"} 
                                    selected {/if} > {$value.section_task_name} </option>
                                {/loop}
                            </select>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card ">
                      <div class="card-header card-header-primary">
                          <h4 class="card-title">{$event['event_name']}</h4>
                          <p class="card-category">{$event['event_type_name']}</p>
                      </div>
                      <div class="card-body">
                        <p><i class="material-icons">date_range</i>   Início : {function="formatDate($event['event_start'])"}</i></p>
                        <p><i class="material-icons">event</i>   Evento : {function="formatDate($event['event_date'])"}</i></p>
                        <p><i class="material-icons">date_range</i>   Término: {function="formatDate($event['event_finish'])"}</i></p>
                        <p><i class="material-icons">flag</i>   Status : {$event['status_type_name']}</i></p>
                      </div>
                      <div class="card-footer">
                        <div class="stats">
                          <i class="material-icons">access_time</i> Dados Online</i>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="col-md-9">      
                <div class="card" >
                  <div class="card-header  card-header-primary card-header-tabs" >
                    <div class="col-md-12">
                        <h4 class="card-title ">Lista de Tarefas Eventos</h4>
                        <p class="card-category"> Tarefas para este evento específico. classificado por numero de evento.
                          Voce também pode selecionar por seção.
                          <strong> - Ações :  
                              <i class="material-icons">edit</i> Editar
                              <i class="material-icons">close</i> Excluir 
                          </strong>
                        </p>
                    </div>
                  </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover table_task">
                      <thead class=" text-primary">
                        <th hidden>Evento</th>
                        <th>#Ref.</th>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Status</th>
                        <th>Duração</th>
                        <th>Inicio</th>
                        <th>Fim</th>
                        <th>% Tarefa</th>
                        <Th class="text-center" >Ações</Th>
                      </thead>
                      <tbody>
                        {loop="$eventtasks"}
                          <tr  >
                          <td hidden>{$value.event_id}</td>
                          <td width="5%" >#{$value.modeltask_id}</td>
                          <td width="5%" >#{$value.task_id}</td>
                          <td width="35%" data-toggle="tooltip" title="{$value.section_task_name}" >{$value.task_name}</td>
                          <td width="5%"  title="{$value.status_task_name}" class="text-center" ><img class="img-raised rounded-circle img-fluid " name="image_status" 
                            src="/assets/admin/img/image-status-{$value.status_task_color}.jpg"></td>
                          <td width="5%">{$value.task_duration} dia(s)</td>
                          <td width="5%">{function="formatDate($value.task_start)"}</td>
                          <td width="5%">{function="formatDate($value.task_finish)"}</td>
                          <td width="20%" >
                          <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" style="width: {$value.task_completed}%" aria-valuenow="{$value.task_completed}" aria-valuemin="0" aria-valuemax="100">{$value.task_completed}%</div>
                            </div>
                          </td>
                          <td width="10%" class="td-actions text-center">
                            <a  href="/admin/events/{$value.event_id}/eventtasks/{$value.task_id}/update" >
                              <button type="button" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">edit</i>
                              </button>
                            </a>
                            {if="$value.section_task_id != '1'"}
                            <a  href="/admin/events/{$value.event_id}/eventtasks/{$value.task_id}/delete" onclick="return confirm('Deseja realmente excluir a tarefa?')" >
                              <button type="button" class="btn btn-danger btn-link btn-sm">
                                <i class="material-icons">close</i>
                              </button>
                            </a>
                            {/if}
                          </td>
                        </tr>
                        {/loop}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div> 
                <div class="row">
                  <div class="col-md-10">
                    <nav aria-label="...">
                      <ul class="pagination">
                        {loop="$pages"}
                        <li class="page-item text-primary {$value.active} "><a class="page-link" href="{$value.href}">{$value.text}</a>
                        </li>
                        {/loop}
                      </ul>
                    </nav>
                  </div>
                  <div class="col-md-2">
                    <a class="nav-link text-right" href="/admin/events">
                      <i class="material-icons" data-notify="icon">backspace</i> Voltar
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<script>

    document.getElementById('searchsection').addEventListener('change', function() {
        this.form.submit();
    });

</script>
   