{include="dashboard-menu"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Atualizar Convidado</h4>
                        <p class="card-category">Atualizar informações relativo ao Convidado. Quanto mais completo melhor a interação.</p>
                    </div>
                    <div class="card-body">
                        <form class="form" action="/admin/events/{$event.event_id}/eventguests/{$eventguests.eventguest_id}/update" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nome do Evento</label>
                                        <a type="text" class="form-control" >{$event.event_name}</a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nome do Convidado</label>
                                        <input type="text" class="form-control" id="eventguest_name" name="eventguest_name"
                                        max="128" value="{$eventguests.eventguest_name}"  required> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group"> 
                                        <label class="bmd-label-floating">Tipo </label>      
                                        <select type="text" class="form-control" id="guesttype_id" name="guesttype_id" required>
                                            {loop="$guesttype"}
                                                <option value="{$value.guesttype_id}" {if="$eventguests.guesttype_id == $value.guesttype_id "} selected {/if}  > {$value.guesttype_name} </option>                                        
                                            {/loop}                                           
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group"> 
                                        <label class="bmd-label-floating">Grupo </label>      
                                        <select type="text" class="form-control" id="guestgroup_id" name="guestgroup_id" required>
                                            {loop="$guestgroup"}        
                                                <option value="{$value.guestgroup_id}" {if="$eventguests.guestgroup_id == $value.guestgroup_id "} selected {/if} > {$value.guestgroup_name} </option>                                        
                                            {/loop} 
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">E-mail</label>
                                        <input type="email" class="form-control" id="eventguest_email" name="eventguest_email"
                                            max="128" value="{$eventguests.eventguest_email}" > 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Cuidados especiais</label>
                                        <input type="text" class="form-control" id="eventguest_special_care" name="eventguest_special_care"
                                            max="128" value="{$eventguests.eventguest_special_care}" >
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">Atualizar Convidado</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                            <a class="nav-link text-right" href="/admin/events/{$event.event_id}/eventguests">
                              <i class="material-icons" data-notify="icon">backspace</i> Voltar
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
