{include="dashboard-menu"}
        <div class="content main-content" >
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-2">
                      <a class="nav-link justify-content-end" href="/admin/events/{$event.event_id}/eventguests/create">
                          <i class="material-icons">person_add</i>
                          <p>incluir Convidados</p>
                      </a>        
                  </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="card ">
                      <div class="card-header card-header-primary">
                          <h4 class="card-title">{$event['event_name']}</h4>
                          <p class="card-category">{$event['event_type_name']}</p>
                      </div>
                      <div class="card-body">
                          <p><i class="material-icons">date_range</i>   Início : {$event.event_start}</i></p>
                          <p><i class="material-icons">event</i>   Evento : {$event.event_date}</i></p>
                          <p><i class="material-icons">date_range</i>   Término: {$event.event_finish}</i></p>
                          <p><i class="material-icons">flag</i>   Status : {$event.status_type_name}</i></p>
                        </div>
                      <div class="card-footer">
                        <div class="stats">
                          <i class="material-icons">access_time</i> Dados Online</i> 
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="col-md-9">      
                <div class="card" >
                  <div class="card-header  card-header-primary card-header-tabs" >
                    <div class="col-md-12">
                        <h4 class="card-title ">Lista de Convidados do Evento</h4>
                        <p class="card-category"> Convidados do Evento. 
                          <strong> Ações :  
                          <i class="material-icons">mail</i> convidar  
                          <i class="material-icons">sentiment_very_satisfied</i> Confirmar
                          <i class="material-icons">sentiment_very_dissatisfied</i> Recusar
                          <i class="material-icons">edit</i> Editar
                          <i class="material-icons">close</i> Excluir 
                        </strong>
                        </p>
                    </div>
                  </div>
                <div class="card-body">
                  <div class="table-responsive">
                    <table class="table table-hover table_task">
                      <thead class=" text-primary">
                        <th hidden>Evento</th>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Tipo</th>
                        <th>Grupo</th>
                        <th>E-mail</th>                        
                        <th>Convite</th>                        
                        <Th class="text-center" >Ações</Th>
                      </thead>
                      <tbody>
                        {loop="$eventguests"}
                          <tr  >
                          <td hidden>{$value.event_id}</td>
                          <td width="1%" >#{$value.eventguest_seq}</td>
                          <td width="20%" >{$value.eventguest_name}</td>
                          <td width="10%" >{$value.guesttype_name}</td>
                          <td width="15%" >{$value.guestgroup_name}</td>
                          <td width="20%" >{$value.eventguest_email}</td>
                          <td width="10%" >{$value.guest_status_confirm_name}</td>
                          <td width="20%" class="td-actions text-center"> 
                            {if="'0' == $value.eventguest_confirm_id"}
                            <a href="/admin/events/{$value.event_id}/eventguests/{$value.eventguest_id}/convidar" >
                              <button type="button" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">mail</i>
                              </button>
                            </a>
                            {/if}
                            {if="'2' != $value.eventguest_confirm_id"}
                            <a href="/admin/events/{$value.event_id}/eventguests/{$value.eventguest_id}/confirm/2" >
                              <button type="button" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">sentiment_very_satisfied</i>
                              </button>
                            </a>
                            {/if}
                            {if="'3' != $value.eventguest_confirm_id"}
                            <a href="/admin/events/{$value.event_id}/eventguests/{$value.eventguest_id}/confirm/3" >
                              <button type="button" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">sentiment_very_dissatisfied</i>
                              </button>
                            </a>
                            {/if}
                            <a  href="/admin/events/{$value.event_id}/eventguests/{$value.eventguest_id}/update">
                              <button type="button" class="btn btn-primary btn-link btn-sm">
                                <i class="material-icons">edit</i>
                              </button>
                            </a>
                            <a  href="/admin/events/{$value.event_id}/eventguests/{$value.eventguest_id}/delete" onclick="return confirm('Deseja realmente excluir o Convidado?')" >
                              <button type="button" class="btn btn-danger btn-link btn-sm">
                                <i class="material-icons">close</i>
                              </button>
                            </a>
                          </td>
                        </tr>
                        {/loop}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div> 
                <div class="row">
                    <div class="col-md-10">
                      <nav aria-label="...">
                        <ul class="pagination">
                            {loop="$pages"}
                            <li class="page-item text-primary {$value.active} "><a class="page-link" href="{$value.href}">{$value.text}</a>
                            </li>
                            {/loop}
                            </ul>
                      </nav>
                    </div>
                    <div class="col-md-2">
                      <a class="nav-link text-right" href="/admin/eventguests">
                        <i class="material-icons" data-notify="icon">backspace</i> Voltar
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
       