{include="dashboard-menu"}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Inserir Convidado</h4>
                        <p class="card-category">Incluir informações relativo ao Convidado. Quanto mais completo melhor a interação.</p>
                    </div>
                    <div class="card-body">
                        <form class="form" action="/admin/events/<?php echo htmlspecialchars( $event['event_id'], ENT_COMPAT, 'UTF-8', FALSE ); ?>/eventguests/create" method="post" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nome do Evento</label>
                                        <a type="text" class="form-control" ><?php echo htmlspecialchars( $event['event_name'], ENT_COMPAT, 'UTF-8', FALSE ); ?></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Nome do Convidado</label>
                                        <input type="text" class="form-control" id="eventguest_name" name="eventguest_name"
                                        max="128"   required> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group"> 
                                        <label class="bmd-label-floating">Tipo </label>      
                                        <select type="text" class="form-control" id="guesttype_id" name="guesttype_id" required>
                                            <?php $counter1=-1;  if( isset($guesttype) && ( is_array($guesttype) || $guesttype instanceof Traversable ) && sizeof($guesttype) ) foreach( $guesttype as $key1 => $value1 ){ $counter1++; ?>
                                                <option value="<?php echo htmlspecialchars( $value1["guesttype_id"], ENT_COMPAT, 'UTF-8', FALSE ); ?>"  > <?php echo htmlspecialchars( $value1["guesttype_name"], ENT_COMPAT, 'UTF-8', FALSE ); ?> </option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group"> 
                                        <label class="bmd-label-floating">Grupo </label>      
                                        <select type="text" class="form-control" id="guestgroup_id" name="guestgroup_id" required>
                                            <?php $counter1=-1;  if( isset($guestgroup) && ( is_array($guestgroup) || $guestgroup instanceof Traversable ) && sizeof($guestgroup) ) foreach( $guestgroup as $key1 => $value1 ){ $counter1++; ?>
                                                <option value="<?php echo htmlspecialchars( $value1["guestgroup_id"], ENT_COMPAT, 'UTF-8', FALSE ); ?>"  > <?php echo htmlspecialchars( $value1["guestgroup_name"], ENT_COMPAT, 'UTF-8', FALSE ); ?> </option>
                                            <?php } ?>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">E-mail</label>
                                        <input type="email" class="form-control" id="eventguest_email" name="eventguest_email"
                                            max="128"  > 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating">Cuidados especiais</label>
                                        <input type="text" class="form-control" id="eventguest_special_care" name="eventguest_special_care"
                                            max="128" >
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right">Incluir Convidado</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                            <a class="nav-link text-right" href="/admin/events/<?php echo htmlspecialchars( $event['event_id'], ENT_COMPAT, 'UTF-8', FALSE ); ?>/eventguests">
                              <i class="material-icons" data-notify="icon">backspace</i> Voltar
                            </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>