{include="dashboard-menu"}
<div class="content main-content" >
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title"> Criar Tarefa</h4>
                        <p class="card-category"> Inserir uma nova tarefa modelo.</p>
                    </div>
                    <div class="card-body">
                        <form class="form" action="/admin/modeltasks/create" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating"> Tipo da tarefa</label>
                                        <select type="text" class="form-control" id="modeltask_section_id" name="modeltask_section_id" required>
                                            {loop="$sessiontask"}
                                            {if="$value.section_task_id != '1'"}
                                            <option value="{$value.section_task_id}"> {$value.event_type_name} - {$value.section_task_name} </option>
                                            {/if}
                                            {/loop}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="bmd-label-floating"> Nome da tarefa</label>
                                        <input type="text" class="form-control" id="modeltask_name" name="modeltask_name"
                                            required> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating"> Duração dia(s)</label>
                                        <input type="number" class="form-control" id="modeltask_duration" name="modeltask_duration"
                                        min="0" max="365"    required> 
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating"> Predecessor </label>
                                        <input type="number" class="form-control" id="modeltask_predecessors" name="modeltask_predecessors" 
                                        value="0"  min="0"   required>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="bmd-label-floating"> Sucessor </label>
                                        <input type="number" class="form-control" id="modeltask_successors" name="modeltask_successors" 
                                        value="0"  min="0"   required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="bmd-label-floating"> Responsável</label>
                                        <input type="text" class="form-control" id="modeltask_responsible" name="modeltask_responsible"
                                        value="BeBride Assessoria"    required> 
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating"> Mostra Pendencias </label>      
                                        <select type="text" class="form-control" id="modeltask_showboard" name="modeltask_showboard" required>
                                            <option value="1" selected > Sim </option>
                                            <option value="0"  > Não </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="bmd-label-floating"> Mostrar Tarefa </label>      
                                        <select type="text" class="form-control" id="modeltask_showcustomer" name="modeltask_showcustomer" required>
                                            <option value="1"  > Sim </option>
                                            <option value="0" selected > Não </option>
                                        </select>
                                    </div>
                                 </div>
                            </div>
                            <button type="submit" class="btn btn-primary pull-right"> Criar Tarefa</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-2">
                <a class="nav-link text-right" href="/admin/modeltasks">
                    <i class="material-icons" data-notify="icon">backspace</i> Voltar
                </a>
            </div>
        </div>
    
    </div>
</div>




